[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask = "*"
marshmallow = "*"
mysql-connector-python = "*"
pymysql = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
fenics = "*"
fenics-ffc = "*"
flask-mysqldb = "*"
mysql-client = "*"
scipy = "*"
python-dotenv = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
