[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask = "*"
marshmallow = "*"
mysql-connector-python = "*"
pymysql = "*"
flask-sqlalchemy = "*"
flask-mysqldb = "*"
flask-cors = "*"
fenics = "*"
fenics-ffc = "*"

[dev-packages]

[requires]
python_version = "3.7"
